<section class="form_area">
  <h1>Forgot your password?</h1>
  <p>We'll send you instrcutions on how to reset it to the email you provide. It's that easy!</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-input-area">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions form-input-area">
      <%= f.submit "Submit" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>